@using PagedList.Mvc;
@model TicoPay.Services.Dto.SearchServicesInput

@Html.HiddenFor(model => model.NameFilter, new { @id = "SrchNameFilter_hidden" })
@Html.HiddenFor(model => model.PriceSinceFilter, new { @id = "SrchPriceSinceFilter_hidden" })
@Html.HiddenFor(model => model.PriceUntilFilter, new { @id = "SrchPriceUntilFilter_hidden" })
@Html.HiddenFor(model => model.TaxId, new { @id = "SrchTaxId_hidden" })
@Html.HiddenFor(model => model.RecurrentId, new { @id = "SrchRecurrentId_hidden" })
@Html.HiddenFor(model => model.Page, new { @id = "SrchPage_hidden" })

@if (Model != null && Model.Entities != null && Model.Entities.Any())
{
    string currencyFmt = @System.Configuration.ConfigurationManager.AppSettings["CurrencyFormat"];

    <div class="wrapper wrapper-content animated fadeInRight white-bg">
        @if (Model.ErrorCode == -1)
        {
            <div class="alert alert-danger" style="text-align: center">@Model.ErrorDescription</div>
        }
        else
        {
            <div class="wrapper-conten">
                <div>
                    <div class="alert alert-info col-md-12 alert-dismissible" role="alert" style="text-align: center">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Importante!</strong> ¡Para Eliminar un Servicio no debe estar asociado a ningún Cliente!
                    </div>
                    <div style="text-align: right">
               
                        Página @(Model.Entities.PageCount < Model.Entities.PageNumber ? 0 : Model.Entities.PageNumber) de @Model.Entities.PageCount

                        @Html.PagedListPager(Model.Entities, page => Url.Action("AjaxPage", new { page, name = Model.NameFilter,
                       priceSince = Model.PriceSinceFilter, priceUntil = Model.PriceUntilFilter,
                       taxId = Model.TaxId, recurrentId= Model.RecurrentId}),
                       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "anyListEntity", OnBegin = "onBegin(this)", OnComplete = "onComplete(this)" }))
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="TableListEntity" class="table" style="font-size: small">
                        <thead class="text-center">
                            <tr>
                                <th style="text-align: center">
                                    Nombre
                                </th>
                                <th style="text-align: center">
                                    Precio
                                </th>
                                <th style="text-align: center">
                                    Impuesto
                                </th>

                                <th style="text-align: center">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td style="text-align: center">
                                        @item.Name
                                    </td>
                                    <td style="text-align: center">
                                       @Html.FormatValue(@item.Price, currencyFmt)
                                    </td>
                                    <td style="text-align: center">
                                        @if (item.Tax != null)
                                        {
                                            <text>@item.Tax.Name</text>
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        <a class="btn btn-xs btn-default" onclick="editFunc($(this))" data-identity='@item.Id' title="Editar el Servicio"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a class="btn btn-xs btn-info" onclick="detailFunc($(this))" data-identity='@item.Id' title="Detalle del Servicio"><span class="glyphicon glyphicon-list"></span></a>
                                        @if (Model.InvoiceLine.Where(a => a.ServiceId == item.Id).Count() <= 0 && Model.ClientServices.Where(a => a.ServiceId == item.Id).Count() <= 0)
                                        {
                                            <a class="btn btn-xs btn-danger" onclick="deleteFunc($(this))" data-identity='@item.Id' title="Borrar el Servicio"><span class="glyphicon glyphicon-remove"></span></a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible" role="alert" style="text-align: center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>¡No se han encontrado ningún servicio registrado!</strong>
    </div>

}
