@model TicoPay.Web.Models.Account.ChangePasswordModel
@section styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var valor = $('#ErrorCod').val();
            //var valor = errorcod;

            if ((valor == "-1") || (valor == "1")) {
                $('#ChangePassw').show();
                $('#message2').hide();
            }

            // console.log(valor);
            if (valor == "0") {
                $('#ChangePassw').hide();
                $('#message2').show();
            }

            //$('input[type="text"]').focus(function () {
            //    $(this).removeClass(":focus");
            //    $(this).removeClass("single-line:focus");
            //});

            //$('input[type="text"]').blur(function () {
            //    $(this).addClass("form-control:focus");
            //    $(this).addClass("single-line:focus");
            //});

            $("#CofirmedPassword").keyup(function (e) {
                var pass = $("#Password").val();
                var re_pass = $("#CofirmedPassword").val();

                if (pass != re_pass) {
                    $("#CofirmedPassword").css({ "background": "#EFA29F" }); //El input se pone rojo
                    // this.style.borderColor = 'red';
                    //$('form input[name=CofirmedPassword]').blur(); "border", "5px solid #EFA29F"
                }
                else if (pass == re_pass) {
                    $("#CofirmedPassword").css({ "background": "#82CD96" }); //El input se ponen verde
                    //$('form input[name=CofirmedPassword]').blur();   "border","5px solid #82CD96"
                }
            });
        });
    </script>
}
<style>
    body {
        background-repeat: round;
        background-image: url('../../images/ticopay-facturacion-electronica-factura-register-background.png');
        height: 100%;
    }

    .signup-backdrp {
        background-color: #050505;
        opacity: .8;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .responsive-img {
        width: 100%;
        height: auto;
    }
</style>
<div>
    <div class="signup-backdrp"></div>
    <div class="signup-backdrp"></div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <div align="center">
                        <img class="responsive-img" style="width:300px;" src="~/images/ticopay-facturacion-electronica-logo-completo-verde-azul.png" id="header-logo" alt="Logo" />
                    </div>
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <fieldset style="position: relative;z-index: 9999;">
                            <div class="animated fadeIn" id="ChangePassw">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title" style="background-color: rgba(47, 64, 80, 0.25);">
                                                <h5>Por favor ingrese su nueva contraseña</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-lg-offset-2">
                                                        <div class="form-horizontal">
                                                            Hola, @Html.DisplayFor(model => model.UserName, new { @class = "control-label" })
                                                            @Html.HiddenFor(model => model.IdUser, new { @id = "Iduser" })
                                                            @Html.HiddenFor(model => model.CodeResetPassword, new { @id = "CodePassw" })
                                                            @Html.HiddenFor(model => model.ErrorCode, new { @id = "ErrorCod", @Value = Model.ErrorCode })
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Contraseña:</label>
                                                                <div class="col-lg-5">
                                                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "Password", @Type = "password", @required = "required", @minlength = "8", @maxlength = "16", @pattern = @"(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$", @title = "Debe ingresar al menos 8 caracteres, incluyendo número, letra mayúscula y letra minúscula " })
                                                                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Confirmar Contraseña:</label>
                                                                <div class="col-lg-5">
                                                                    @Html.TextBoxFor(model => model.CofirmedPassword, new { @class = "form-control", @id = "CofirmedPassword", @Type = "password", @required = "required", @minlength = "8", @maxlength = "16", @pattern = @"(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$", @title = "Debe ingresar al menos 8 caracteres, incluyendo número, letra mayúscula y letra minúscula " })
                                                                    @Html.ValidationMessageFor(model => model.CofirmedPassword, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-offset-2 col-lg-5">
                                                                    <button type="submit" id="RegisterButton" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                                                                    <a class="btn btn-default" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <br />
                                @*@if (Model.ErrorCode == 1)
                            {
                                <div class="row ">
                                    <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>@Model.ErrorDescription</strong>
                                    </div>
                                </div>
                            }*@
                                @if (Model.ErrorCode == -1)
                {
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>@Model.ErrorDescription</strong>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </fieldset>

                    }
                    <div class="ibox-content" style="display:none;" id="message2">
                        <div class="row">
                            <div class="col-lg-offset-2">
                                <p>@Model.ErrorDescription</p>
                                <br />
                                <a class="btn btn-default" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
