@model TicoPay.Web.Models.Account.RestorePasswordModel
@{ 
    ViewBag.Title = "Restablecer Contraseña";
}
@section styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
<style>
    body {
        background-repeat: round;
        background-image: url('../../images/ticopay-facturacion-electronica-factura-register-background.png');
        height: 100%;
    }

    .signup-backdrp {
        background-color: #050505;
        opacity: .8;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .responsive-img {
        width: 100%;
        height: auto;
    }
</style>

<div>
    <div class="signup-backdrp"></div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <div align="center">
                        <img class="responsive-img" style="width: auto;" src="~/images/ticopay-facturacion-electronica-factura-software-encabezado-registrate.jpg" id="header-logo" alt="Logo" />
                    </div>
                    @using (Html.BeginForm("RestorePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset style="position: relative;z-index: 9999;">
                            <div class="animated fadeIn" id="SolicPassw">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title" style="background-color: rgba(47, 64, 80, 0.25);">
                                                <h3>¿Olvidó su contraseña?</h3>
                                                <p>Ticopay le enviará las instrucciones para recuperar su contraseña a la cuenta de correo electrónico asociada a su suscripción.</p>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-lg-offset-2">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Correo:</label>
                                                                <div class="col-lg-5">
                                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", @placeholder = "pedro.perez@ticopay.com", @type = "email", @required = "required", @maxlength = "64" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-offset-2 col-lg-5">
                                                                    <div class="g-recaptcha" data-sitekey="6LcGFCIUAAAAALkbA4SAAgiyxh343_9S2woVGhze"></div>
                                                                    @Html.HiddenFor(model => model.ReCaptcha, new { @id = "ReCaptcha" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-offset-2 col-lg-5">
                                                                    <button type="submit" id="RegisterButton" class="btn btn-primary"><i class="fa fa-send"></i> Enviar Solicitud</button>
                                                                    <a class="btn btn-default" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <br />
                                @if (Model.ErrorCode == 1)
                                {
                                <div class="row ">
                                    <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>@Model.ErrorDescription</strong>
                                    </div>
                                </div>
                                }
                                else if (Model.ErrorCode == -1)
                                {
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>@Model.ErrorDescription</strong>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </fieldset>

                    }
                    <div class="ibox-content" style="display:none;" id="message">
                        <div class="row">
                            <div class="col-lg-offset-2">
                                <p>Le hemos enviado un correo electrónico con las instrucciones para restablecer su contraseña.</p>
                                <br />
                                <a class="btn btn-default" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"> </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var valor = $('#ReCaptcha').val();
            //console.log(valor);
            if (valor == "True") {
                $('#message').show();
                $('#SolicPassw').hide();
            } else {
                $('#message').hide();
                $('#SolicPassw').show();
            }
        });
    </script>
}
