@using System.Web.Mvc.Html
@model TicoPay.Inventory.Dto.SearchProductsInput
<div class="wrapper wrapper-content animated fadeInRight white-bg">
    @using (Html.BeginForm(Model.Action, Model.Control, FormMethod.Post, new { @id = "searchForm" }))
    {
        <div class="row">
            <div class="col-lg-1" style="padding-top:7px">
                <label>
                    Nombre
                </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.NameFilter, new { @placeholder = "Introducir Nombre...", @id = "searchName", @type = "text", @class = "form-control", maxlength = "80", size = "80" })
            </div>
            <div class="col-lg-1" style="padding-top:7px">
                <label>
                    Impuesto
                </label>
            </div>
            <div class="col-lg-3">
                @{
                    SelectList taxes = new SelectList(Model.Taxes.ToArray(), "Id", "Name");
                    @Html.DropDownListFor(model => model.TaxFilter, taxes, "Todos", new { @id = "Taxes_DD", @class = "form-control" })
                }
            </div>
            <div class="col-lg-1" style="padding-top:7px">
                <label>
                    Estado
                </label>
            </div>
            <div class="col-lg-3">
                @Html.EnumDropDownListFor(model => model.EstadoFilter, "Todos", new { @id = "Estatus_DD", @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                <label>
                    Precio Desde
                </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.PriceSinceFilter, new { @placeholder = "Introducir Precio Desde...", @id = "searchPriceSince", @type = "number", @class = "form-control" })
            </div>
            <div class="col-lg-1">
                <label>
                    Precio Hasta
                </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.PriceUntilFilter, new { @placeholder = "Introducir Precio Hasta...", @id = "searchPriceUntil", @type = "number", @class = "form-control" })
            </div>
            <div class="col-lg-1">
                <span class="input-group-btn pull-left">
                    <button type="submit" class="btn btn-success">Buscar</button>
                </span>
            </div>
        </div>

    }
</div>